#intro {
    padding-top: 130px;
}

#intro .category {
    padding-top: 190px;
}

#intro .category h1 {
    height: 34px;
    color: #1E1E1E;
    font-size: 28px;
    font-weight: 591;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

#intro .category .top {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
}

#intro .category .card {
    background-color: white;
    height: 220px;
    padding-top: 9px;
    border-radius: 10px;
    gap: 3px;
    box-shadow: var(--card-shadow);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#intro .category .card:hover{
    transform: scale(1.05);
}

#intro .category .card img{
    margin-top: 9px;
}

#intro .category .card h1 {
    height: 19px;
    font-size: 16px;
    font-weight: 539;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1E1E1E;
    margin-top: 3px;
}

#intro .category button{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 17px 0;
    border: none;
    box-shadow: var(--card-shadow);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#intro .category button:hover{
    transform: scale(1.05);
    background-image: var(--bg-gradient-dark);
}

#intro .category button a{
    margin: 0 auto;
    text-decoration: none;
    height: 22px;
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 591;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;      
}