#popular_selling_items {
    width: 100%;
}

#popular_selling_items .big_wrapper {
    padding: 50px 0;
}

#popular_selling_items .big_wrapper h1 {
    height: 34px;
    color: #1E1E1E;
    font-size: 28px;
    font-weight: 591;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

#popular_selling_items .big_wrapper .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 20px;
}

#popular_selling_items .big_wrapper .wrapper .card {
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: var(--card-shadow);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

#popular_selling_items .big_wrapper .wrapper .card:hover {
    transform: scale(1.1);
}

#popular_selling_items .big_wrapper .wrapper .card img {
    margin-left: 25px;
    margin-top: 10px;
    z-index: 5;
}

#popular_selling_items .big_wrapper .wrapper .card .cart {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
}

#popular_selling_items .big_wrapper .wrapper h1 {
    height: 22px;
    font-size: 18px;
    font-weight: 591;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D63F3;
}

#popular_selling_items .big_wrapper .wrapper p {
    font-size: 14px;
    font-weight: 539;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    height: 34px;
    color: #1E1E1E;
    margin-top: 6px;
}

#popular_selling_items .big_wrapper .wrapper h3 {
    height: 17px;
    font-size: 14px;
    font-weight: 539;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C757D;
    margin-top: 33px;
}

#popular_selling_items .big_wrapper .wrapper button {
    padding: 8px 8px;
    border: none;
    border-radius: 8px;
    margin-top: 25x;
    background-color: #0D63F3;
    font-family: Nuckle;
    font-size: 16px;
    font-weight: 539;
    line-height: 19px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

#popular_selling_items .big_wrapper .wrapper button:hover{
    color: #0D63F3;
    background-color: #fff;
    border: 1px solid #0D63F3;
}

#popular_selling_items .big_wrapper .wrapper img:hover{
    transform: scale(1.1);
}

#popular_selling_items .big_wrapper .bottom{
    width: 100%;
    margin-top: 37px;
    border-radius: 10px;
    padding: 17px 0;
    border: none;
    box-shadow: var(--card-shadow);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#popular_selling_items .big_wrapper .bottom:hover{
    transform: scale(1.05);
    background-image: var(--bg-gradient-dark);
}

#popular_selling_items .big_wrapper .bottom a{
    margin: 0 auto;
    text-decoration: none;
    height: 22px;
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 591;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;      
}