.categories{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}

.categories .card{
    background-color: #FCFFFC;
    width: 188px;
    height: 100px;
    padding: 5px 49px;
    border-radius: 8px;  
    box-shadow: var(--card-shadow);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.categories .card:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 380px){
    .categories {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .categories .card {
        width: 150px;
        height: 200px;
        padding: 5px 9px;
        border-radius: 10px;
    }

    .categories .card:hover {
        transform: scale(1.05);
    }
}