.categories{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}

.categories .card{
    background-color: #FCFFFC;
    width: 188px;
    height: 100px;
    padding: 5px 49px;
    border-radius: 8px;  
    box-shadow: var(--card-shadow);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.categories .card:hover{
    transform: scale(1.1);
}